@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/ptsans-400.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/ptsans-700.woff2") format("woff2");
  font-display: swap;
}

:root {
  /* --------------- Palette --------------- */
    /* Palette text */
    --text-basic-color: rgba(0, 0, 0, 1);
    --text-second-color: rgba(51, 51, 51, 1);
    --text-deafault-color: rgba(255, 255, 255, 1);
    --text-background-small:rgba(255, 255, 255, 0.3);
    --text-error-color:rgba(255, 87, 87, 1);
    /* Palette buttons */
    --buttons-basic-color:rgba(117, 97, 87, 1);
    --buttons-second-color:rgba(130, 179, 211, 1);
    --buttons-select-color:rgba(125, 181, 79, 1);
    /* Palette background */
    --basic-background-color: rgba(255, 255, 255, 1);
    --second-background-color: rgba(242, 242, 242, 1);
    --basic2-background-color: rgba(130, 179, 211, 1);
    --second2-background-color: rgba(131, 179, 211, 0.12);
    --second3-background-color: rgba(131, 179, 211, 0.2);
    /* Palette icon */
    --icon-basic-color:rgba(0, 0, 0, 1);
    --icon-second-color:rgba(131, 179, 211, 1);
    --icon-text-color:rgba(125, 181, 79, 1);
    /* Palette form */
    --form-inputs-color:rgba(63, 94, 114, 1);
    --form-elements-color:rgba(229, 229, 229, 1);
    --form-elements2-color:rgba(242, 242, 242, 1);
}
/* --------------- Typography --------------- */
  /* Headings */
  .heading-heading1 {
    font-weight: 700;
    font-size: 60px;
    line-height: 78px;
  }

  .heading-heading2 {
    font-weight: 700;
    font-size: 30px;
    line-height: 36px;
    text-transform: uppercase;
  }

  .heading-heading3 {
    font-weight: 700;
    font-size: 24px;
    line-height: 28px;
    text-transform: uppercase;
  }

  .headings-heading3-nonecase {
    font-weight: 700;
    font-size: 24px;
    line-height: 28px;
  }

  .heading-heading4 {
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
  }

  /* Buttons */
  .button-big {
    font-weight: 700;
    font-size: 20px;
    line-height: 36px;
    text-transform: uppercase;
    border: none
  }

  .button-small {
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
    text-transform: uppercase;
    border: none
  }

  .button-regular {
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    text-transform: uppercase;
    border: none
  }

  .button-titlecase {
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    border: none
  }

  /* Text */
  .text-phone{
    font-weight: 400;
    font-size: 40px;
    line-height: 40px;
    text-transform: uppercase;
  }

  .text-blocks{
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
  }

  .text-small{
    font-weight: 400;
    font-size: 16px;
    line-height: 21px;
  }

  .text-basic{
    font-weight: 400;
    font-size: 22px;
    line-height: 26px;
  }

  .text-input{
    font-weight: 400;
    font-size: 18px;
    line-height: 24px;
  }

  .text-checkbox{
    font-weight: 400;
    font-size: 18px;
    line-height: 23px;
  }

html {
  background-color: var(--second-background-color);
}

body {
  font-family: "PT Sans", sans-serif;
  width: 1200px;
  margin: 0 auto;
  background-color:var(--basic-background-color);
  box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.2);
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}
/* ------ Header ------ */

.nav-link {
  text-decoration: none;
  color: var(--text-basic-color);
}

.heart-twelve {
  background-color: var(--icon-text-color);
  color:var(--text-deafault-color);
}

.nav-button {
  background-color: var(--buttons-basic-color);
  color: var(--text-deafault-color);
}


/* ------ Main ------ */

.welcome-to-sedona {
  background-image: url('../images/index/welcome_background.jpg');
  background-color: chartreuse; /* Заменить */
  background-size: cover;
}

.about-sedona-hr {
  width: 60px;
  border: 2px solid var(--text-background-small);
  margin-bottom: 30px;
}

.about-sedona-title {
  color: var(--text-basic-color);
  text-align: center;
}

.about-sedona-text {
  color: var(--text-second-color);
  text-align: center;
}

.about-sedona-subtitle {
  color: var(--text-basic-color);
  text-align: center;
}

.sedona-block-1 .about-sedona-subtitle {
  color: var(--text-deafault-color);
  text-align: center;
}

.sedona-block-1 .about-sedona-text {
  color: var(--text-deafault-color);
  text-align: center;
}

.sedona-block-7 .about-sedona-subtitle {
  color: var(--text-deafault-color);
  text-align: center;
}

.sedona-block-7 .about-sedona-text {
  color: var(--text-deafault-color);
  text-align: center;
}

.about-sedona-text {
  color: var(--text-second-color);
  text-align: center;
}

.about-sedona-item:nth-child(1),
.about-sedona-item:nth-child(7){
  background-color: var(--basic2-background-color);
}

.about-sedona-item:nth-child(3),
.about-sedona-item:nth-child(5){
  background-color: var(--second2-background-color);
}

.about-sedona-item:nth-child(4){
  background-color: var(--second3-background-color);
}

.article-subtitle {
  color: var(--text-basic-color);
  text-align: center;
}

.article-text {
  color: var(--text-second-color);
  text-align: center;
}

.advantages-subtitle {
  color: var(--text-basic-color);
  text-align: center;
}

.advantages-text {
  color: var(--text-second-color);
  text-align: center;
}

.advantages-item:nth-child(1),
.advantages-item:nth-child(3){
  background-color: var(--second2-background-color);
}

.advantages-block-1 {
  background-image: url('../images/index/home.svg');
  background-repeat: no-repeat;
  background-size: cover;
}

.advantages-block-2 {
  background-image: url('../images/index/food.svg');
  background-repeat: no-repeat;
  background-size: cover;
}

.advantages-block-3 {
  background-image: url('../images/index/souvenirs.svg');
  background-repeat: no-repeat;
  background-size: cover;
}

.article-interested-subtitle {
  color: var(--text-basic-color);
  text-align: center;
}

.article-interested-text {
  color: var(--text-second-color);
  text-align: center;
}

.article-button {
  background-color: var(--buttons-basic-color);
  color: var(--text-deafault-color);
}

.subscribe-button {
  background-color: var(--buttons-second-color);
}

.subscribe {
  background-image: url('../images/index/subscribe.jpg');
  background-size: cover;
}

.subscribe-subtitle {
  color: var(--text-deafault-color);
  text-align: center;
}

.subscribe-text {
  color: var(--text-deafault-color);
  text-align: center;
}

.subscribe-button {
  color: var(--text-deafault-color);
}

/* ------ Footer ------ */

.footer-phone {
  text-decoration: none;
  color: var(--text-basic-color);
}

/* ------ Catalog ------ */

.header-filter {
  background-image: url('../images/catalog/filter-background.jpg');
  background-size: cover;
}

.header-filter-title {
  color: var(--text-deafault-color);
}

.header-filter-text {
  color: var(--text-deafault-color);
}

.filter-legend {
  color: var(--text-deafault-color);
}

.filter-label {
  color: var(--text-deafault-color);
}

.apply-button {
  background-color: var(--basic2-background-color);
  color: var(--text-deafault-color);
}

.reset-button {
  background-color: transparent;
}

.sorting-subtitle {
  color: var(--text-basic-color);
}

.item-img-tile {
  background-image: url('../images/catalog/tile.svg');
  background-repeat: no-repeat;
}

.item-img-detail {
  background-image: url('../images/catalog/detail.svg');
  background-repeat: no-repeat;
}

.item-img-list {
  background-image: url('../images/catalog/list.svg');
  background-repeat: no-repeat;
}

.sorting-select {
  font-family: 'PT Sans';
}

.catalog-subtitle {
  color: var(--text-basic-color);
}

.catalog-text {
  color: var(--text-second-color);
}

.catalog-text-rating {
  color: var(--text-second-color);
  background-color: var(--second-background-color);
}

.catalog-a-button {
  text-decoration: none;
  background-color:var(--buttons-basic-color);
  color:var(--text-deafault-color);
}

.catalog-button {
  background-color: var(--buttons-second-color);
  color:var(--text-deafault-color);
}

.catalog-button-select {
  background-color: var(--buttons-select-color);
  color:var(--text-deafault-color);
}

.pagination-item-active {
  background-color: var(--second-background-color);
  list-style: none;
}

.pagination-item {
  background-color: var(--buttons-second-color);
  list-style: none;
}

.pagination-page-number {
  list-style: none;
}

.page-number {
  text-decoration: none;
}

.pagination {
  text-decoration: none;
  color: var(--text-basic-color);
}

.pagination-active {
  background-color: var(--form-elements2-color);
}
