@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/ptsans-400.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/ptsans-700.woff2") format("woff2");
  font-display: swap;
}

html {
  background-color: rgba(242, 242, 242, 1);
}

body {
  font-family: "PT Sans", sans-serif;
  font-size: 22px;
  width: 1200px;
  margin: 0 auto;
  background-color: rgba(255, 255, 255, 1);
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}

.main-index {
  margin: 0;
  padding: 0;
}

.logo {
margin-left: 70px;
}

.page-header {
  display: flex;
  height: 64px;
}

.navigation {
  display: flex;
}

.nav-list-1 {
  list-style: none;
  display: flex;
  justify-content: space-between;
  width: 339px;
  padding: 0;
  margin-left: 30px;
  text-decoration: none;
}

.nav-link {
  text-decoration: none;
  color: #000000;
}

.nav-link-search {
  margin-left: 12px;
  margin-right: 25px;
}

.nav-link-heart {
  margin-right: 33px;
}

.nav-list-2 {
  list-style: none;
  display: flex;
  width: 268px;
  padding: 0;
  margin-left: 285px;
}

.button {
  font-size: 16px;
  font-weight: 700;
  line-height: 20px;
  width: 160px;
  height: 30px;
  background-color: rgba(117, 97, 87, 1);
  color: white;
  border:none;
  border-radius: 4px;
  text-transform: uppercase;
}

.about-sedona-list {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
}

.about-sedona-item {
  width: 400px;
  height: 385px;
  background-color: #82B3D3;
}

.about-sedona-subtitle {
  text-align: center;
  margin: 0;
  padding: 0;
  width: 175px;
  height: 56px;
  margin-left: 112.5px;
  margin-right: 112.5px;
  margin-top: 102px;
  margin-bottom: 62px;
}

.about-sedona-text {
  margin: 0;
  padding: 0;
  font-size: 18px;
  width: 230px;
  height: 63px;
  margin-left: 85px;
  text-align: center;
}

.about-sedona-item-3 {
  background-color: rgba(131, 179, 211, 0.12);
}

.about-sedona-item-4 {
  background-color: rgba(131, 179, 211, 0.2);
}

.about-sedona-item-5 {
  background-color: rgba(131, 179, 211, 0.12);
}

.about-sedona-item-img {
  width: 800px;
  height: 385px;
}

.article {
  height: 246px;
}

.article-subtitle {
  margin: 0;
  margin-top: 64px;
  margin-bottom: 20px;
  text-align: center;
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
}

.article-text {
  margin: 0;
  text-align: center;
}

.welcome-to-sedona {
  background-image: url('../images/index/welcome_background.jpg');
  height: 485px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.image-welcome {
  margin-top: 51px;
  margin-bottom: 25px;
}

.about-sedona-title {
  height: 261px;
  text-align: center;
}

.title {
  width: 620px;
  height: 72px;
  margin: 0 auto;
  margin-top: 69px;
  margin-bottom: 25px;
  text-transform: uppercase;
  font-size: 30px;
}

.subtitle {
  width: 651px;
  height: 26px;
  font-size: 22px;
  font-weight: 400;
  margin: 0 auto;
}

.advantages {
  width: 1200px;
  height: 385px;
}

.advantages-list {
  margin: 0;
  padding: 0;
  list-style: none;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  height: 385px;
}

.advantages-item-1 {
  background-image: url('../images/index/home.svg');
  background-repeat: no-repeat;
  background-color: rgba(131, 179, 211, 0.12);
  background-position: top 81px right 161.5px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.advantages-item-2 {
  background-image: url('../images/index/food.svg');
  background-repeat: no-repeat;
  background-position: top 81px right 161.5px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.advantages-item-3 {
  background-image: url('../images/index/souvenirs.svg');
  background-repeat: no-repeat;
  background-color: rgba(131, 179, 211, 0.12);
  background-position: top 81px right 161.5px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.advantages-subtitle {
  margin: 0;
  padding: 0;
  width: 230px;
  height: 28px;
  text-align: center;
  padding-top: 100px;
}

.advantages-text {
  width: 230px;
  height: 63px;
  text-align: center;
}

.advantages-item-3 {
  background-color: rgba(131, 179, 211, 0.12);
}

.article-subtitle {
  margin: 0;
  padding: 0;
  font-size: 30px;
  font-weight: 700;
  text-transform: uppercase;
  margin-top: 96px;
}

.article-text {
  margin: 0 auto;
  padding: 0;
  width: 592px;
  height: 52px;
  font-size: 22px;
  font-weight: 400;
  margin-top: 20px;
  margin-bottom: 54px;
}

.article-button {
  width: 376px;
  height: 52px;
  margin: 0;
  padding: 0;
  margin-left: 412px;
  margin-right: 412px;
  margin-bottom: 96px;
  text-transform: uppercase;
}

.subscribe {
  background-color: rgba(131, 179, 211, 1);
  background-image: url('../images/index/subscribe.jpg');
  background-size: 1200px auto;
  padding: 96px 258px 104px 258px;
  color:#FFFFFF;
}

.subscribe-subtitle {
  text-transform: uppercase;
  font-weight: 700;
  font-size: 30px;
  text-align: center;
}

.subscribe-text {
  font-weight: 400;
  font-size: 22px;
  text-align: center;
}

.form-subscribe {
  display: flex;
  justify-content: center;
  align-items: center;
}

.input-subscribe {
  width: 452px;
  height: 52px;
}

.subscribe-button {
  width: 232px;
  height: 56px;
  background-color: #82B3D3;
  text-transform: uppercase;
  border: none;
	border-radius: 0 4px 4px 0;
  color: #FFFFFF;
  font-size: 20px;
  font-weight: 700;
}

.header-filter {
  background-image: url('../images/catalog/filter-background.jpg');
  background-repeat: no-repeat;
}

.header-filter-text {
  font-size: 16px;
  font-weight: 400;
  color: #FFFFFF;
}


.header-filter-title {
  margin: 0;
  padding: 0;
  font-size: 60px;
  font-weight: 700;
  color: #FFFFFF;
  margin-left: 70px;
  padding-top: 35px;
}

.header-filter-list {
  list-style: none;
  display: flex;
}

.filter-list {
  list-style: none;
  color: #FFFFFF;
  padding: 0;
}

fieldset {
  border:0 none;
  width: 151px;
}

legend {
  color: #FFFFFF;
}

.index-footer {
  height: 120px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer-list {
  margin: 0;
  list-style: none;
  display: flex;
  align-items: center;
  width: 142px;
  height: 40px;
  gap: 10px;
}

.footer-phone {
  font-size: 40px;
  font-weight: 400;
  color: #000000;
  text-decoration: none;
}

.footer-item {
  width: 47.33px;
}

.footer-logo {
  margin-right: 70px;
}
